# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

# MongoDB
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=

# Redis
REDIS_PASSWORD=

# AirflowDB
POSTGRES_AIRFLOW_DB=
AIRFLOW_UID=
AIRFLOW_ADMIN_USER=
AIRFLOW_ADMIN_PASSWORD=  
AIRFLOW_ADMIN_EMAIL=

# Google API Key
GOOGLE_API_KEY=