# PostgreSQL
POSTGRES_USER=myuser
POSTGRES_PASSWORD=
POSTGRES_DB=stock_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# MongoDB
MONGO_INITDB_ROOT_USERNAME=myadmin
MONGO_INITDB_ROOT_PASSWORD=

# Redis
REDIS_PASSWORD=
