requests
beautifulsoup4
psycopg2-binary
python-dotenv
boto3
fastapi
uvicorn[standard]
streamlit
langchain
langchain-community
langchain-core
langchain-openai
langchain-google-genai
langchain-text-splitters
langgraph
langsmith
docling
langchain-ollama
langchain-huggingface
pillow
pdfplumber
pymupdf
pandas
tabulate
ultralytics
ollama
sentence-transformers
